---
import Nav from '../components/Nav.astro'
import Card from '../components/Card.astro'
import Carousel from '../components/Carousel.astro'
import Footer from '../components/Footer.astro'
import Services from '../components/Services.astro'

const images = [
    '/assets/companies/1.png',
    '/assets/companies/2.png',
    '/assets/companies/3.png',
    '/assets/companies/4.png',
    '/assets/companies/5.png',
    '/assets/companies/6.png',
    '/assets/companies/7.png',
    '/assets/companies/8.png',
    '/assets/companies/9.png',
    '/assets/companies/10.png',
    '/assets/companies/11.png',
    '/assets/companies/12.png',
    '/assets/companies/13.png',
]

const items1 = [
{
            img: "https://picsum.photos/id/500/200/300",
            cost: "1600 ₽",
            name: "Андрей Азербайджан",
            text: "В каждом из нас живет самка динозавра сиамского периода",
            link: "/book-releases",
            id: "image1",
        },
        {
            img: "https://picsum.photos/id/501/200/300",
            cost: "1600 ₽",
            name: "Вероятно Медик",
            text: "С кривой логикой приходит прямоугольная метка королевского вомбата",
            link: "/book-releases",
            id: "image2",
        },
        {
            img: "https://picsum.photos/id/502/200/300",
            cost: "1600 ₽",
            name: "Стопудов Семашкович",
            text: "Соня хотела как лучше, но что поделаешь после такого исполинского сеанса экзорцизма",
            link: "/book-releases",
            id: "image3",
        },
        {
            img: "https://picsum.photos/id/503/200/300",
            cost: "1600 ₽",
            name: "Косвенная улитка",
            text: "Злой кот, но забавная история появления скептиков на острове отца большой кисы",
            link: "/book-releases",
            id: "image4",
        },
        {
            img: "https://picsum.photos/id/504/200/300",
            cost: "1600 ₽",
            name: "Сальса Верная",
            text: "Кто же ты такой? Монстр? Киборг? или просто Крот?",
            link: "/book-releases",
            id: "image5",
        },
        {
            img: "https://picsum.photos/id/505/200/300",
            cost: "1600 ₽",
            name: "Зимая Великая Душка",
            text: "И все таки нам всем ужасненько повезло, ведь есть вещи похуже кариеса, но не у нас",
            link: "/book-releases",
            id: "image6",
        },
        {
            img: "https://picsum.photos/id/506/200/300",
            cost: "1600 ₽",
            name: "Зубатка Тополь",
            text: "Хотите коры коралла? а нет таких вещей в природе морской",
            link: "/book-releases",
            id: "image7",
        },
        {
            img: "https://picsum.photos/id/508/200/300",
            cost: "1600 ₽",
            name: "Инге-Вечтомов С.Г.",
            text: "Лекарственные растения и здоровье человека",
            link: "/book-releases",
            id: "image9",
        },
]

const services = [
    { shown: false, link: "/book-releases", title: "Редактирование", text: `В издательстве Эко-Вектор проводится как литературное, так и научное редактирование текстов произведений авторов. В наш коллектив литературных редакторов входят профессионалы с большим стажем работы с научными текстами по разным направлениям, в том числе по медицине. Мы придерживаемся строгих издательских стандартов подготовки научных текстов, основанных как на ГОСТах, так и на международных требованиях, а в своей работе используем наиболее авторитетные источники данных.` },
    { shown: false, link: "/book-releases", title: "Верстка и дизайн", text: ` Дизайн и верстка – два неотъемлемых компонента при создании любого издания.

Коллектив художественных редакторов Эко-Вектор Дизайн создает идею и образ будущего издания, его стиль и индивидуальность, обеспечивая привлекательность для читателя. Верстка является продолжением дизайна, воплощением его результатов в жизнь в графическом виде. Наша верстка (с шрифтовыми выделениями, таблицами, формулами, иллюстрациями с подписью) сделает текст удобным для восприятия, стилистически грамотным.

Мы реализуем верстку не только для печати, но и для размещения издания в WEB-среде в сети Интернет или на электронных носителях. Издательство публикует и распространяет произведения не только среди читателей печатных изданий, но и в аудитории поклонников электронных форматов. Мы формируем издание во всех необходимых для распространения в сети Интернет форматах — HTML, ePUB, FB2, PDF. ` 
    },
    { shown: false, link: "/book-releases", title: "Отрисовка авторских иллюстраций", text: " Издательство Эко-Вектор осуществляет все виду работ с изображениями — отрисовку авторских иллюстраций, цветокоррекцию, ретушь, компоновку, сканирование и реставрацию сканированных изображений, вплоть до создания изображений по заданию (описанию) автора. В процессе задействованы опытные художественные редакторы, верстальщики, дизайнеры и художники. Мы готовим иллюстрации с учетом требований WEB-среды и современных полиграфических технологий." },
    { shown: false, link: "/book-releases", title: "Форматирование формул и таблиц", text: "Мы используем специализированное ПО и технологии, позволяющие не только корректно отображать формулы и таблицы в произведениях на бумаге, но и индексировать их как код в электронной версии — позволяем произведениям стать доступными для поиска по формулам в поисковых системах и базах данных." },
];
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <Nav client:visible />
    <div class="xl:px-20">
        <Card 
            client:load 
            color={"eco-green"} 
            imgPath={"/assets/images/journal-releases.svg"} 
            btnText={"Перейти в каталог"}
            heading={"Издание журналов"} text={"Издательство «Эко-Вектор» выпускает более 100 научных и научно-практических рецензируемых периодических печатных и сетевых журналов по различным направлениям науки."} 
        />
    </div>

    <div class="container">
        <div class="space-y-10 md:space-y-0 md:grid grid-cols-2 gap-5 xl:gap-28">
            <div class="space-y-3 lg:space-y-5 base-text md:max-w-lg">
                <h1 class="heading">О журналах</h1>
                <p>Мы&nbsp;издаем как журналы с&nbsp;большой историей, так и&nbsp;молодые издания по&nbsp;новым направлениям науки и&nbsp;технологий, в&nbsp;числе которых медицина и&nbsp;здравоохранение, физико-математические науки, философия, экономика, юриспруденция, биологические науки, искусство и&nbsp;культура, педагогика, политика и&nbsp;др. Журналы успешны и&nbsp;востребованы не&nbsp;только в&nbsp;России, но&nbsp;и&nbsp;во&nbsp;всем мире, и&nbsp;продолжают завоевывать аудиторию читателей и&nbsp;авторов.</p>
                <p>Эко-Вектор предоставляет услуги полного издательского цикла для печатных и&nbsp;электронных периодических изданий на&nbsp;русском и&nbsp;иностранных языках (в&nbsp;первую очередь&nbsp;&mdash; английском)&nbsp;&mdash; от&nbsp;создания концепции издания до&nbsp;распространения публикаций и&nbsp;выпусков.</p>
            </div>
            <div class="font-bold md:pt-2 space-y-3 lg:space-y-5 md:pl-20 md:max-w-md">
                <h1 class="text-lg opacity-60">ИНДЕКСАЦИЯ</h1>
                
                <div class="flex flex-wrap md:grid grid-cols-3 gap-7 mx-auto">
                    {images.map((img) => (
                        <a href="/">
                            <img class="w-20 sm:w-32" src={img} alt="">
                        </a> 
                    ))}
                </div>
            </div>
        </div>
    </div>

    <div class="w-full bg-carousel">
        <Carousel client:visible title={"Магазин научных изданий"} linkName={"ПЕРЕЙТИ КО ВСЕМУ КАТАЛОГУ"} link={"/book-releases"} items={items1} />
    </div>

    <div class="container">
        <div class="space-y-5 md:space-y-0 sm:gap-5 justify-between md:flex lg:max-w-screen-lg xl:max-w-screen-xl">
            <img class="rounded-lg md:max-w-sm object-cover w-full" src="/assets/images/journal-cover.jpg" alt="">
            <div class="space-y-3 md:max-w-lg">
                <h1 class="heading">Хотите издать журнал?</h1>
                <p class="base-text">Мы&nbsp;можем взять на&nbsp;себя все сложности, связанные с&nbsp;переходом в&nbsp;электронное пространство&nbsp;&mdash; от&nbsp;получения DOI и&nbsp;настройки архивов до&nbsp;регистрации издания в&nbsp;международных реферативных базах и&nbsp;автоматизации документооборота. Отправьте заявку на&nbsp;консультацию специалиста</p>
                <a class="btn btn-outline text-eco-green hover:bg-eco-green hover:text-white border-eco-green border-2 hover:border-eco-green rounded" href="/">Издать журнал</a>
            </div>
        </div>
    </div>

    <div class="container">
        <Services client:visible items={services} />
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>
