---
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'
import IndexCaro3 from '../../components/IndexCaro3.astro'

const news = { img: 'https://picsum.photos/id/506/1500/800', html: `<h1>Выдающийся американский химик арестован <br>"за связи с Китаем"</h1>
    <p>Министерство юстиции США обвинило заведующего кафедрой химии и биохимии Гарварда Чарльза Либера в ложных заявлениях по поводу его сотрудничества с Китаем. Об этом 28 января сообщили на сайте ведомства. Коротко об этом сообщает RTVI. На данный момент пионер в области нанохимии находится под арестом.  По словам Wall Street Journal, официальные власти США считают, что история с Либером – «мина», заложенная Китаем для того, чтобы вывести китайских ученых на первые роли в мировой науке
<br><br>
В судебных документах говорится, что с 2008 года Либер возглавляет группу ученых, которая занималась в Гарварде исследованиями в области нанотехнологий. За это время он получил грантов больше чем на $15 млн от Национального института здравоохранения и Министерства обороны. Поэтому он должен был отчитываться о потенциальных конфликтах интересов: работе на иностранное правительство или компанию, а также получение от них финансирования. Кроме этого, заявляется, что Либер постоянно ввозил в США крупные суммы наличными, не декларируя их. 
<br><br>
По данным Минюста, с 2011 года Либер без ведома Гарварда сотрудничал с Уханьским технологическим университетом, а также с 2012 по 2017 годы участвовал в программе китайского правительства «План тысячи талантов». С ее помощью Пекин привлекает знаменитых ученых, которые делятся своим опытом и знаниями с китайскими коллегами, чем помогают научному и экономическому развитию страны. По мнению американских властей, в рамках этой программы поощряется «кража конфиденциальной информации».
По данным следствия, Либер получал от Уханьского технологического университета $50 тысяч в месяц за участие в программе, еще ему покрывали расходы на проживание и выделили около $1,5 млн на создание лаборатории. В материалах дела говорится, что в 2018 и 2019 годах профессор скрыл масштабы своей работы в рамках «Плана тысячи талантов», причем китайский университет «преувеличивал» его роль в исследованиях.
В Гарварде обвинения против сотрудника назвали серьезными и начали внутреннее расследование. Университет отправил Либера в неоплачиваемый отпуск на неопределенное время. Ему грозит до пяти лет лишения свободы и штраф в $250 тысяч.</p>` }

const items3 = [
{
            img: "/assets/index/caro3/1.jpeg",
            name: "1 ноября 2020",
            text: "Защита диссертации может обрести новый формат",
            link: "/book-releases",
            id: "image201",
        },
        {
            img: "/assets/index/caro3/2.png",
            name: "1 ноября 2020",
            text: 'Выдающийся американский химик арестован "за связи с Китаем"',
            link: "/book-releases",
            id: "image202",
        },
        {
            img: "/assets/index/caro3/3.png",
            name: "1 ноября 2020",
            text: 'В Китае разразился скандал, связанный с фальсификацией научных изображений',
            link: "/book-releases",
            id: "image203",
        },
        {
            img: "/assets/index/caro3/4.jpeg",
            name: "1 ноября 2020",
            text: "В Санкт-Петербурге завершилась шестая Школа научного мастерства SciCraft",
            link: "/book-releases",
            id: "image204",
        },
        {
            img: "/assets/index/caro3/5.jpeg",
            name: "1 ноября 2020",
            text: "Самара снова встречает Школу SciCraft",
            link: "/book-releases",
            id: "image205",
        },
]
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../../styles/global.css')}>
</head>
<body>
    <Nav client:visible />
    <div>
        <img class="max-w-screen-xl mx-auto object-cover max-h-[60vh] w-full" src={news.img} alt="">
        <div class="container lg:-mt-10 prose prose-headings:mt-5 prose-p:my-0 prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline">
            {news.html}

            <div class="mt-5 flex w-full justify-between">
                <a href="/"> Предыдущая новость</a>
                <a href="/"> Следующая новость </a>
            </div>
        </div>

        <div class="w-full">
            <IndexCaro3 client:visible title={"Другие новости"} linkName={"ВСЕ НОВОСТИ"} link={"/news"} items={items3} />
        </div>
    </div>
    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>