---
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'

const news = [
    { img: 'https://picsum.photos/id/506/500/700', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/1' },
    { img: 'https://picsum.photos/id/507/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/2' },
    { img: 'https://picsum.photos/id/508/500/400', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/3' },
    { img: 'https://picsum.photos/id/509/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/510/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/511/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/512/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/513/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/514/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/515/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/516/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
    { img: 'https://picsum.photos/id/517/500/500', title: 'Биологи обнаружили новое месторождение полезных бактерий', date: '1 ноября 2020', link: '/news/4' },
]
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../../styles/global.css')}>
</head>
<body>
    <Nav client:visible />

    <div class="container">
        <h1 class="heading">Новости издательства</h1>
        <div class="grid gap-7 my-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:gap-14">
            {news.map((e) => (
                <div>
                    <a class="space-y-2" href={e.link}>
                        <img class="w-full aspect-square" src={e.img} alt="">
                        <h2>{e.title}</h2>
                        <p class="text-slate-400 text-sm">{e.date}</p>
                    </a>
                </div>
            ))}
        </div>
    </div>

    <div class="w-full bg-[#1B1B1D] text-white">
        <Footer client:visible />
    </div>
</body>
</html>