---
const {type, text, hours, price } = Astro.props
---

<a href="/">
<div class="px-5 py-4 h-64 sm:h-56 flex flex-col justify-between border-2 border-eco-brown hover:bg-eco-brown group hover:text-white rounded-md transition duration-200">
    <div>
        <h3 class="uppercase font-medium text-xs">{type}</h3>
        <h1 class="group-hover:text-eco-gold mt-3 font-semibold text-xl">{text}</h1>
    </div>
    <div class="flex justify-between items-center">
        <p class="text-sm text-gray-400 group-hover:text-white font-light">{hours}</p>
        <h3 class="font-bold text-lg">{price}</h3>
    </div>
</div>
</a>