---
const {type, text } = Astro.props
---

<div class="px-5 py-4 flex flex-col justify-between border-2 border-eco-brown hover:bg-eco-brown group hover:text-white rounded-md transition duration-200">
    <div>
        <h3 class="uppercase font-medium text-xs">{type}</h3>
        <h1 class="group-hover:text-eco-gold mt-3 font-semibold text-xl">{text}</h1>
    </div>
    <div class="flex mt-10">
        <a href="/">
            <div class="flex p-2 border-2 rounded-md hover:border-eco-gold">
                <img class="group-hover:hidden" src="/assets/icons/play.svg" alt="">
                <img class="group-hover:inline hidden" src="/assets/icons/play-white.svg" alt="">
                <p class="hover:text-eco-gold ml-2">Посмотреть в записи</p>
            </div>
        </a>
    </div>
</div>