<html>
  <head>
    <title>Eco Vector</title>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
    <slot />
    <div class="hidden after:bg-eco-blue after:bg-eco-red after:bg-eco-green after:bg-eco-yellow after:bg-eco-gray after:bg-eco-purple after:bg-black hover:text-eco-purple"></div>
    <div class="hidden bg-eco-purple"></div>
  </body>
</html>